* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #000;
  color: #fff;
  height: 200vh;
}

/* Neon DilBil */
#logo {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 38px;
  font-weight: bold;
  color: #00ffff;
  text-shadow:
    0 0 5px #00ffff,
    0 0 15px #00ffff,
    0 0 30px #00ffff;
  transition: all 0.4s ease;
  z-index: 1000;
}

#logo.scrolled {
  top: 5px;
  font-size: 24px;
  opacity: 0.9;
}

/* Ana səhifə mərkəz */
.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Əsas button */
.main-btn {
  padding: 20px 45px;
  font-size: 20px;
  background: #00ffff;
  color: #000;
  text-decoration: none;
  border-radius: 40px;
  box-shadow: 0 0 20px #00ffff;
}

/* Dil buttonları */
.lang-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.lang-btn {
  width: 240px;
  padding: 15px;
  text-align: center;
  border: 2px solid #00ffff;
  color: #00ffff;
  text-decoration: none;
  border-radius: 25px;
  font-size: 18px;
  box-shadow: 0 0 10px #00ffff;
}
